$nav_color : rgb(40, 93, 109);
$nav_hover_color : white;
$font_light_color : white;
$font_dark_color : rgba(40, 40, 40, 0.9);
$cta_color: rgb(36, 57, 173);
$header_background : linear-gradient(180deg,rgb(40, 93, 109),#03A293);
$header_color1 : rgb(40, 93, 109);
$header_color2 : #03A293;
//$btnHoverBgColor : rgba(40, 40, 40, 0.8);
$btnHoverBgColor : #03A293;
$btnBgColor2 : #03A293;
$btnBgColor3 : rgb(40, 93, 109);
$bgColor2 : whitesmoke;
$bgColor3 : rgb(40, 93, 109);
$navUpColor : #ffde17;
$link_hover_color:#f7b51b