@import "colors";
@import "globals";
@mixin removeLinkStyle($color){
  text-decoration: none;
  color: $color;
}
@mixin hooverTransition(){
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
@mixin btnLinkStyle1{

  border: 2px solid $font_light_color;
  border-radius: 10px;
  padding: 10px 2%;
  width: 100%;
  text-align: center;
  cursor: pointer;
  //background-color:transparent ;
  @include hooverTransition;

}

@mixin btnLinkStyle2{

  border: 2px solid $font_light_color;
  color: $font_light_color;
  border-radius: 10px;
  padding: 10px 2%;
  width: 30%;
  text-align: center;
  background-color: $btnBgColor2 ;
  font-family: $bold_font;
  cursor: pointer;
  @include hooverTransition;

}

@mixin large_screen{
  @media screen and (min-width: 1400px)  {
    @content ;
  }
}
@mixin semi_large_screen{

  @media screen and (max-width: 1399px)  {
    max-width: 1399px;
    @content ;
  }
}
@mixin medium_screen{

  @media screen and (max-width: 1280px)  {
    max-width: 1280px;
    @content ;
  }
}
@mixin semi_medium_screen{

  //@media screen and (min-width: 768px) and (max-device-width : 1024px)  {
  @media screen and (max-width : 1025px)  {
    max-width: 1025px;
    @content ;
  }
}
@mixin small_screen(){
  @media screen and (max-width: 667px) {
    max-width: 667px;
    @content;
  }
}
@mixin semi_small_screen(){
  @media screen and (max-width: 568px) {
    max-width: 568px;
    @content;
  }
}
@mixin extra_small_screen(){
  @media screen and (max-width: 480px){
    max-width: 480px;
    @content;
  }
}

@mixin super_small_screen(){
  @media screen and (max-width: 368px){
    max-width: 368px;
    @content;
  }
}