@import "mixins";
.features{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 60px auto;
  @include large_screen{
    margin: 200px auto 100px auto;
  }
  @include extra_small_screen{

    flex-direction: column;
  }
  @include super_small_screen{

    margin: 10px auto;
  }
}
.feature-box{
  flex-basis: 30%;
  border-radius: 10px;
  padding: 20px 1%;
  margin: 10px 1%;
  display: flex;
  flex-direction: column;
  direction: rtl;
  @include super_small_screen{
    padding: 10px 2%;
  }
  .feature-img {
    text-align: right;
    padding-right: 10%;
    width: 30%;
    @include small_screen{
      width: 25%;
    }
    img{
      width: 100%;
    }
  }
  .feature-title{
    //font-family: $bold_font;
    //text-align: center;
    margin: 10px ;
    width: 60%;
    border: 5px solid $header_color2;
  }
  .feature-desc{
    font-family: $reg_font;
    line-height: 2;
    text-align: right;

  }
}
.graphic{
  width: 90%;
  text-align: center;
  margin: 20px auto;
  padding: 40px 0;
  border-radius: 300px;
  background: url("../images/svg/bg.svg") no-repeat center;
  background-size: contain ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include super_small_screen{
    background-size: 140%;
  }
  img{
    margin-top: 40px;
    width: 50%;
    @include medium_screen{
      width: 70%;
    }
    @include extra_small_screen{
      width: 80%;
    }
    @include super_small_screen{
      width: 100%;
    }
  }
  h2{
    font-family: $bold_font;
    font-size: $h2_size;
    color:$font_dark_color;
    @include small_screen{
      font-size: $h2_size - 5px;
    }
    @include extra_small_screen{
      font-size: $h3_size - 4px;
    }
  }
  h3{
    @extend h2;
    padding-top: 20px;
    font-size: $h3_size;
    @include small_screen{
      font-size: $h3_size - 5px;
    }
    @include extra_small_screen{
      font-size: $h4_size - 2px;
    }
  }
}