@import "mixins";
.contact-container{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px 1%;
  font-family: $bold_font;
  font-size: $h3-size - 3px;
  color: $font_dark_color;
  direction: rtl;
  .contact-form{
    flex-basis: 40%;
    //border: 2px solid $btnHoverBgColor;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    padding: 20px 1%;
    label{
      display: block;
      margin: 20px 0;
    }
    input , textarea{
      border: 1px solid grey;
      border-radius: 10px;
      padding: 10px;
      font-size: $h3_size - 4px;
      font-family: $reg_font;
      width: 100%;
      resize: none;
    }
    button{
      @include btnLinkStyle2;
      font-size: $h3_size - 2px;
      margin: 20px auto;
      display: block;
      &:hover{
        background-color: transparent;
        color: $header_color2;
        border: 2px solid $header_color2;
        @include hooverTransition
      }
    }
  }
  .contact-image{
    flex-basis: 40%;
  }
}