@import "mixins";
// =========== SVG styles, Don't change theme ! =============== //
.cls-1 {
  isolation: isolate;
}

.cls-2 {
  opacity: 0.75;
  mix-blend-mode: multiply;
}

.cls-3 {
  fill: #282828;
}

.cls-4, .cls-6, .cls-7 {
  font-size: 12px;
  font-family: CourierNewPS-BoldMT, Courier New;
  font-weight: 700;
  @include extra_small_screen{
    font-size: 13px;
  }
}

.cls-4 {
  fill: #ffde17;
}

.cls-5, .cls-7 {
  fill: #f1f2f2;
}

.cls-6 {
  fill: #00ade5;
}
#command1Result, #command2Result{
  opacity: 0;
}
// ============ EOF SVG styles ============== //


html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
  max-width: $max_width;

}
*,*:after,*:before{
  box-sizing: inherit;
}
header{
  background-image: $header_background;
  height: 100%;
  z-index: -1;
}
.plugin{
  max-width: $max_width;
}
.wrap{
  border-left: 0.2em solid #fff
}
.typewiter-container{
  position: relative;
  @include semi_medium_screen{

    margin: 20px 0 30px 0;
  }
}
.typewrite{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.terminal-figure{
  padding: 20px 1%;
  flex-basis: 40%;
  text-align: center;
  position: relative;
  @include semi_medium_screen{

  }
}
.terminal-figure img{
  width: 60%;
  text-align: left;
  border-radius: 10px;
}
.web-window{
  position: absolute;
  width: 80%;
  opacity: 0;
  z-index: 0;
  left: 0;
  right: 0;
  img{
    width: 100%;
  }
  @include semi_medium_screen{
    margin-top: 50px;
    width: 60%;
  }
  @include semi_small_screen{
    width: 90%;
  }
}
.terminalBox{
  position: relative;
  z-index: 1;
  @include semi_medium_screen{
    width: 60%;
  }
  @include small_screen{
    width: 100%;
  }
  @include extra_small_screen{
    margin-top: 20px;
    overflow: hidden;
  }
}
.header-container{
  display: flex;
  justify-content: space-between;
  padding: 70px 2%;
  @include semi_medium_screen{
    flex-direction: column-reverse;
    padding: 70px 5%;
  }
}
.header-description{
  flex-basis: 45%;
  color: $font_light_color;
  font-family: $bold_font;
  text-align: right;
  align-self: center;
  line-height: 2;
  padding-right: 5%;
  @include semi_medium_screen{
    flex-basis: 50%;
    text-align: center;
  }
  h1{
    font-size: $h1_size;
    //@include semi_large_screen{
    //
    //  font-size: $h1_size - 4px;
    //}
    @include medium_screen(){
      font-size: $h1_size - 9px;
    }
    @include semi_medium_screen{

    }
    @include small_screen{

      font-size: $h1_size - 4px;
    }
    @include semi_medium_screen{

      font-size: $h1_size - 12px;
    }
    @include extra_small_screen{

      font-size: $h2_size - 2px;
    }
    @include super_small_screen{

      font-size: $h2_size - 4px;
    }
  }
  h2{
    font-size: $h2_size;
    @include small_screen{
      font-size: $h2_size - 5px;
    }
    @include extra_small_screen{
      font-size: $h2_size - 8px;
    }
  }
  h3{
    font-size: $h3_size;
    @include small_screen{
      font-size: $h2_size - 10px;
    }
    @include extra_small_screen{
      font-size: $h2_size - 12px;
    }
  }
}

.cta{
  @include removeLinkStyle($font_light_color);
  @include btnLinkStyle1;
  font-size: $h2_size - 2px;
  flex-basis:40%;
  direction: rtl;
  @include medium_screen{
    font-size:$h2_size - 2px;
  }
  @include semi_medium_screen{
    font-size:$h2_size - 4px;
  }
  @include small_screen{

    font-size: $h3_size;
  }
  @include extra_small_screen{
    font-size: $h3_size - 3px;
  }
  &:hover{
    background-color: $btnHoverBgColor;
    @include hooverTransition()
  }
}

.body{
  position: absolute;
  width: 100%;
  max-width: $max_width;
  margin: auto;
  left: 0;
  right: 0;
}