@import "mixins";
// =========== SVG styles, Don't change theme ! =============== //
.cls-1 {
  isolation: isolate;
}

.cls-2 {
  opacity: 0.75;
  mix-blend-mode: multiply;
}

.cls-3 {
  fill: #282828;
}

.cls-4, .cls-6, .cls-7 {
  font-size: 12px;
  font-family: CourierNewPS-BoldMT, Courier New;
  font-weight: 700;
}

.cls-4 {
  fill: #ffde17;
}

.cls-5, .cls-7 {
  fill: #f1f2f2;
}

.cls-6 {
  fill: #00ade5;
}
#command1Result, #command2Result{
  opacity: 0;
}
// ============ EOF SVG styles ============== //


html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //scroll-behavior:smooth;
}
*,*:after,*:before{
  box-sizing: inherit;
}
header{
  background-image: $header_background;
  height: 100%;
  z-index: -1;
}
.wrap{
  border-left: 0.2em solid #fff
}
.terminal-figure{
  padding: 20px 1%;
  flex-basis: 40%;
  text-align: center;
  position: relative;
}
.terminal-figure img{
  width: 60%;
  text-align: left;
  border-radius: 10px;
}
.web-window{
  position: absolute;
  opacity: 0;
  z-index: 0;

}
.terminalBox{
  position: relative;
  z-index: 1;
}
.header-container{
  display: flex;
  justify-content: space-between;
  padding: 70px 2%;
}
.header-description{
  flex-basis: 45%;
  color: $font_light_color;
  font-family: $bold_font;
  text-align: right;
  align-self: center;
  line-height: 2;
  padding-right: 5%;
  @include medium_screen{
    flex-basis: 50%;
  }
  h1{
    font-size: $h1_size;
    @include medium_screen(){
      font-size: $h1_size - 4px;
    }
  }
  h2{
    font-size: $h2_size;
  }
  h3{
    font-size: $h3_size;
  }
}
.plugin{
  width: 100%;
  position: absolute;
  z-index: -2;
}
.nav-plugin{
  width: 100%;
  position: absolute;
  z-index: -2;
  padding: 0;
  opacity: 0;
}
.nav-bar{
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  //padding: 0 1%;
  //background-color: $nav_color;
  background-color: transparent;
  display: flex;
}
.nav-plugin-text{
  position: absolute;
  width: 8%;
  z-index: 5;
  opacity: 0;
}
.nav-ul{
  flex-basis: 80%;
  list-style: none;
  display: flex;
  font-family: $bold_font;
  font-size: 14px;
  padding: $nav_items_top_padding 5%;
  direction: rtl;
  li{
    margin-left: 5%;
    flex-basis: 7%;
    text-align: center;
  }
  a{
    display: inline-block;
    @include removeLinkStyle($font_light_color);
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 2px solid transparent;
    &:hover{
      border-bottom: 2px solid $nav_hover_color;
      @include hooverTransition()
    }


  }
}
.active{
  border-bottom: 2px solid $nav_hover_color!important;
}
.auth-ul{
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  padding: $nav_items_top_padding 5px;

  li{
    margin:0 2%;
    flex-basis: 100%;

  }
  .reg , .login{

    display: inline-block;
    font-family: $bold_font;
    @include removeLinkStyle($font_light_color);
    @include btnLinkStyle1;
    &:hover{
      background-color: $btnHoverBgColor;
      @include hooverTransition()
    }
  }
}
.cta{
  @include removeLinkStyle($font_light_color);
  @include btnLinkStyle1;
  font-size: 22px;
  flex-basis:40%;
  direction: rtl;
  @include medium_screen{
    font-size:20px;
  }
  &:hover{
    background-color: $btnHoverBgColor;
    @include hooverTransition()
  }
}

.body{
  position: absolute;
  width: 100%;
}