@import "mixins";
.nav-up{
  position: fixed;
  z-index: 1;
  bottom:50px;
  right: 0;
  padding: 0 2%;
  i{
    transform: scale(3);
    color:$navUpColor;

    @include medium_screen{
      transform: scale(2);
    }
    @include semi_medium_screen{
      transform: scale(2);
      padding: 0 5%;
    }
    @include small_screen{
      padding-right: 8% !important;
    }
  }
}