@font-face {
  font-family: sans-r;
  src: url("../fonts/woff/IRANSansWeb.woff"); }

@font-face {
  font-family: sans-b;
  src: url("../fonts/woff/IRANSansWeb_Bold.woff"); }

html, body {
  max-width: 1920px;
  margin: auto; }

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 60px auto;
  max-width: 1920px; }
  @media screen and (min-width: 1400px) {
    .features {
      margin: 200px auto 100px auto; } }
  @media screen and (max-width: 480px) {
    .features {
      max-width: 480px;
      flex-direction: column; } }
  @media screen and (max-width: 368px) {
    .features {
      max-width: 368px;
      margin: 10px auto; } }

.feature-box {
  flex-basis: 30%;
  border-radius: 10px;
  padding: 20px 1%;
  margin: 10px 1%;
  display: flex;
  flex-direction: column;
  direction: rtl; }
  @media screen and (max-width: 368px) {
    .feature-box {
      max-width: 368px;
      padding: 10px 2%; } }
  .feature-box .feature-img {
    text-align: right;
    padding-right: 10%;
    width: 30%; }
    @media screen and (max-width: 667px) {
      .feature-box .feature-img {
        max-width: 667px;
        width: 25%; } }
    .feature-box .feature-img img {
      width: 100%; }
  .feature-box .feature-title {
    margin: 10px;
    width: 60%;
    border: 5px solid #03A293; }
  .feature-box .feature-desc {
    font-family: sans-r;
    line-height: 2;
    text-align: right; }

.graphic {
  max-width: 1920px;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  padding: 40px 0;
  border-radius: 300px;
  background: url("../images/svg/bg.svg") no-repeat center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media screen and (max-width: 368px) {
    .graphic {
      max-width: 368px;
      background-size: 140%; } }
  .graphic img {
    margin-top: 40px;
    width: 50%; }
    @media screen and (max-width: 1280px) {
      .graphic img {
        max-width: 1280px;
        width: 70%; } }
    @media screen and (max-width: 480px) {
      .graphic img {
        max-width: 480px;
        width: 80%; } }
    @media screen and (max-width: 368px) {
      .graphic img {
        max-width: 368px;
        width: 100%; } }
  .graphic h2, .graphic h3 {
    font-family: sans-b;
    font-size: 24px;
    color: rgba(23, 23, 23, 0.79); }
    @media screen and (max-width: 667px) {
      .graphic h2, .graphic h3 {
        max-width: 667px;
        font-size: 19px; } }
    @media screen and (max-width: 480px) {
      .graphic h2, .graphic h3 {
        max-width: 480px;
        font-size: 14px; } }
  .graphic h3 {
    padding-top: 20px;
    font-size: 18px; }
    @media screen and (max-width: 667px) {
      .graphic h3 {
        max-width: 667px;
        font-size: 13px; } }
    @media screen and (max-width: 480px) {
      .graphic h3 {
        max-width: 480px;
        font-size: 12px; } }
