@font-face {
  font-family: sans-r;
  src: url("../fonts/woff/IRANSansWeb.woff"); }

@font-face {
  font-family: sans-b;
  src: url("../fonts/woff/IRANSansWeb_Bold.woff"); }

.contact-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px 1%;
  font-family: sans-b;
  font-size: 15px;
  color: rgba(23, 23, 23, 0.79);
  direction: rtl; }
  @media screen and (max-width: 368px) {
    .contact-container {
      max-width: 368px;
      padding: 10px 5%;
      display: block; } }
  .contact-container .contact-form {
    flex-basis: 40%;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    padding: 20px 1%; }
    @media screen and (max-width: 368px) {
      .contact-container .contact-form {
        max-width: 368px;
        padding: 10px 0; } }
    .contact-container .contact-form label {
      display: block;
      margin: 20px 0; }
      @media screen and (max-width: 480px) {
        .contact-container .contact-form label {
          max-width: 480px;
          font-size: 14px; } }
      @media screen and (max-width: 368px) {
        .contact-container .contact-form label {
          max-width: 368px;
          font-size: 12px;
          margin: 10px 0; } }
    .contact-container .contact-form input, .contact-container .contact-form textarea {
      border: 1px solid grey;
      border-radius: 10px;
      padding: 10px;
      font-size: 14px;
      font-family: sans-r;
      width: 100%;
      resize: none; }
      @media screen and (max-width: 1025px) {
        .contact-container .contact-form input, .contact-container .contact-form textarea {
          max-width: 1025px;
          background-color: rgba(255, 255, 255, 0.56); } }
      @media screen and (max-width: 368px) {
        .contact-container .contact-form input, .contact-container .contact-form textarea {
          max-width: 368px;
          font-size: 12px; } }
    .contact-container .contact-form button {
      border: 2px solid white;
      color: white;
      border-radius: 10px;
      padding: 10px 2%;
      width: 30%;
      text-align: center;
      background-color: #03A293;
      font-family: sans-b;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
      font-size: 16px;
      margin: 20px auto;
      display: block; }
      @media screen and (max-width: 1025px) {
        .contact-container .contact-form button {
          max-width: 1025px;
          background-color: #03897c;
          margin-top: 50px; } }
      @media screen and (max-width: 568px) {
        .contact-container .contact-form button {
          max-width: 568px;
          width: 70%; } }
      @media screen and (max-width: 480px) {
        .contact-container .contact-form button {
          max-width: 480px;
          font-size: 14px;
          width: 70%; } }
      @media screen and (max-width: 368px) {
        .contact-container .contact-form button {
          max-width: 368px;
          margin: 5px auto; } }
      .contact-container .contact-form button:hover {
        background-color: transparent;
        color: #03A293;
        border: 2px solid #03A293;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in; }
    @media screen and (max-width: 1025px) {
      .contact-container .contact-form {
        max-width: 1025px;
        flex-basis: 80%;
        background-image: url("../images/svg/contact.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center; } }
  .contact-container .contact-image {
    flex-basis: 40%; }
    @media screen and (max-width: 1025px) {
      .contact-container .contact-image {
        max-width: 1025px;
        display: none; } }
