@font-face {
  font-family: sans-r;
  src: url("../fonts/woff/IRANSansWeb.woff"); }

@font-face {
  font-family: sans-b;
  src: url("../fonts/woff/IRANSansWeb_Bold.woff"); }

html, body {
  max-width: 1920px;
  margin: auto; }

.customers {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; }
  .customers img {
    width: 10%; }
