@font-face {
  font-family: sans-r;
  src: url("../fonts/woff/IRANSansWeb.woff"); }

@font-face {
  font-family: sans-b;
  src: url("../fonts/woff/IRANSansWeb_Bold.woff"); }

.cls-1 {
  isolation: isolate; }

.cls-2 {
  opacity: 0.75;
  mix-blend-mode: multiply; }

.cls-3 {
  fill: #282828; }

.cls-4, .cls-6, .cls-7 {
  font-size: 12px;
  font-family: CourierNewPS-BoldMT, Courier New;
  font-weight: 700; }
  @media screen and (max-width: 480px) {
    .cls-4, .cls-6, .cls-7 {
      max-width: 480px;
      font-size: 13px; } }

.cls-4 {
  fill: #ffde17; }

.cls-5, .cls-7 {
  fill: #f1f2f2; }

.cls-6 {
  fill: #00ade5; }

#command1Result, #command2Result {
  opacity: 0; }

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *:after, *:before {
  box-sizing: inherit; }

header {
  background-image: linear-gradient(180deg, #285d6d, #03A293);
  height: 100%;
  z-index: -1; }

.wrap {
  border-left: 0.2em solid #fff; }

.typewiter-container {
  position: relative; }
  @media screen and (max-device-width: 1025px) {
    .typewiter-container {
      max-width: 1025px;
      margin: 20px 0 30px 0; } }

.typewrite {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto; }

.terminal-figure {
  padding: 20px 1%;
  flex-basis: 40%;
  text-align: center;
  position: relative; }
  @media screen and (max-device-width: 1025px) {
    .terminal-figure {
      max-width: 1025px; } }

.terminal-figure img {
  width: 60%;
  text-align: left;
  border-radius: 10px; }

.web-window {
  position: absolute;
  opacity: 0;
  z-index: 0;
  left: 0;
  right: 0; }
  @media screen and (max-device-width: 1025px) {
    .web-window {
      max-width: 1025px;
      margin-top: 50px; } }

.terminalBox {
  position: relative;
  z-index: 1; }
  @media screen and (max-device-width: 1025px) {
    .terminalBox {
      max-width: 1025px;
      width: 60%; } }
  @media screen and (max-width: 667px) {
    .terminalBox {
      max-width: 667px;
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .terminalBox {
      max-width: 480px;
      margin-top: 20px;
      overflow: hidden; } }

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 70px 2%; }
  @media screen and (max-device-width: 1025px) {
    .header-container {
      max-width: 1025px;
      flex-direction: column-reverse;
      padding: 70px 5%; } }

.header-description {
  flex-basis: 45%;
  color: white;
  font-family: sans-b;
  text-align: right;
  align-self: center;
  line-height: 2;
  padding-right: 5%; }
  @media screen and (max-width: 1224px) {
    .header-description {
      max-width: 1224px;
      flex-basis: 50%;
      text-align: center; } }
  .header-description h1 {
    font-size: 42px; }
    @media screen and (max-width: 1224px) {
      .header-description h1 {
        max-width: 1224px;
        font-size: 38px; } }
    @media screen and (max-device-width: 1025px) {
      .header-description h1 {
        max-width: 1025px; } }
    @media screen and (max-width: 667px) {
      .header-description h1 {
        max-width: 667px;
        font-size: 38px; } }
    @media screen and (max-device-width: 1025px) {
      .header-description h1 {
        max-width: 1025px;
        font-size: 30px; } }
    @media screen and (max-width: 480px) {
      .header-description h1 {
        max-width: 480px;
        font-size: 22px; } }
    @media screen and (max-width: 368px) {
      .header-description h1 {
        max-width: 368px;
        font-size: 20px; } }
  .header-description h2 {
    font-size: 24px; }
    @media screen and (max-width: 667px) {
      .header-description h2 {
        max-width: 667px;
        font-size: 19px; } }
    @media screen and (max-width: 480px) {
      .header-description h2 {
        max-width: 480px;
        font-size: 16px; } }
  .header-description h3 {
    font-size: 18px; }
    @media screen and (max-width: 667px) {
      .header-description h3 {
        max-width: 667px;
        font-size: 14px; } }
    @media screen and (max-width: 480px) {
      .header-description h3 {
        max-width: 480px;
        font-size: 12px; } }

.cta {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 2%;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  font-size: 24px;
  flex-basis: 40%;
  direction: rtl; }
  @media screen and (max-width: 1224px) {
    .cta {
      max-width: 1224px;
      font-size: 22px; } }
  @media screen and (max-device-width: 1025px) {
    .cta {
      max-width: 1025px;
      font-size: 20px; } }
  @media screen and (max-width: 667px) {
    .cta {
      max-width: 667px;
      font-size: 18px; } }
  @media screen and (max-width: 480px) {
    .cta {
      max-width: 480px;
      font-size: 15px; } }
  .cta:hover {
    background-color: #03A293;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }

.body {
  position: absolute;
  width: 100%; }
