@font-face {
  font-family: sans-r;
  src: url("../fonts/woff/IRANSansWeb.woff"); }

@font-face {
  font-family: sans-b;
  src: url("../fonts/woff/IRANSansWeb_Bold.woff"); }

.nav-up {
  position: fixed;
  z-index: 1;
  bottom: 50px;
  right: 0;
  padding: 0 2%; }
  .nav-up i {
    transform: scale(3);
    color: #156d64; }
    @media screen and (max-width: 1224px) {
      .nav-up i {
        max-width: 1224px;
        transform: scale(1.5); } }
    @media screen and (max-device-width: 1025px) {
      .nav-up i {
        max-width: 1025px;
        transform: scale(2);
        padding: 0 5%; } }
    @media screen and (max-width: 667px) {
      .nav-up i {
        max-width: 667px;
        padding-right: 8% !important; } }
