@font-face {
  font-family: sans-r;
  src: url("../fonts/woff/IRANSansWeb.woff"); }

@font-face {
  font-family: sans-b;
  src: url("../fonts/woff/IRANSansWeb_Bold.woff"); }

@font-face {
  font-family: panel-sans-r;
  src: url("../../fonts/woff/IRANSansWeb.woff"); }

@font-face {
  font-family: panel-sans-b;
  src: url("../../fonts/woff/IRANSansWeb_Bold.woff"); }

html, body {
  max-width: 1920px;
  margin: auto; }

.notif-box {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 5px;
  width: 20%; }
  @media screen and (max-width: 1025px) {
    .notif-box {
      max-width: 1025px;
      width: 30%; } }
  @media screen and (max-width: 1025px) {
    .notif-box {
      max-width: 1025px;
      width: 30%;
      top: 10px; } }
  @media screen and (max-width: 667px) {
    .notif-box {
      max-width: 667px;
      width: 70%; } }
  .notif-box .notif {
    position: relative;
    background-color: rgba(18, 18, 18, 0.8);
    color: white;
    font-family: sans-b;
    font-size: 14px;
    padding: 10px 2% 20px 2%;
    width: 100%;
    text-align: right;
    margin-top: 10px;
    border-radius: 10px;
    transform: translate(-500px, 0); }
    @media screen and (max-width: 480px) {
      .notif-box .notif {
        max-width: 480px;
        padding: 5px 2% 10px 2%; } }
    .notif-box .notif p {
      margin-top: 5px;
      line-height: 2;
      padding: 5px; }
    .notif-box .notif span {
      display: block;
      width: 5%;
      text-align: center;
      cursor: pointer; }
