@font-face {
  font-family: sans-r;
  src: url("../fonts/woff/IRANSansWeb.woff"); }

@font-face {
  font-family: sans-b;
  src: url("../fonts/woff/IRANSansWeb_Bold.woff"); }

.pricing {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  padding: 20px 0;
  background-color: #285d6d; }
  @media screen and (max-device-width: 1025px) {
    .pricing {
      max-width: 1025px;
      align-items: center; } }

.pricing-box {
  border: 2px solid white;
  border-radius: 10px;
  padding: 30px 5%;
  background: transparent;
  text-align: center;
  color: white;
  font-family: sans-b;
  direction: rtl;
  box-shadow: 0 0 5px gray; }
  @media screen and (max-width: 480px) {
    .pricing-box {
      max-width: 480px;
      padding: 20px 3%; } }
  .pricing-box .price {
    padding: 20px 1%;
    font-size: 37px; }
    @media screen and (max-device-width: 1025px) {
      .pricing-box .price {
        max-width: 1025px;
        font-size: 24px; } }
    @media screen and (max-width: 480px) {
      .pricing-box .price {
        max-width: 480px;
        font-size: 22px; } }
    .pricing-box .price .rate {
      margin-top: 10px;
      font-size: 24px; }
      @media screen and (max-device-width: 1025px) {
        .pricing-box .price .rate {
          max-width: 1025px;
          font-size: 19px; } }
      @media screen and (max-width: 480px) {
        .pricing-box .price .rate {
          max-width: 480px;
          font-size: 16px; } }
  .pricing-box .box-disc p {
    font-size: 18px;
    margin: 20px 0; }
    @media screen and (max-device-width: 1025px) {
      .pricing-box .box-disc p {
        max-width: 1025px;
        font-size: 16px; } }
    @media screen and (max-width: 480px) {
      .pricing-box .box-disc p {
        max-width: 480px;
        font-size: 12px; } }
  .pricing-box .box-disc a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 2%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    display: inline-block;
    width: 50%;
    font-size: 18px;
    margin-top: 20px; }
    @media screen and (max-device-width: 1025px) {
      .pricing-box .box-disc a {
        max-width: 1025px;
        font-size: 16px; } }
    @media screen and (max-width: 480px) {
      .pricing-box .box-disc a {
        max-width: 480px;
        font-size: 14px; } }
    .pricing-box .box-disc a:hover {
      background-color: #03A293;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in; }

.pricing-container {
  position: relative; }

.stopwatch {
  width: 15%;
  margin: 0 5%; }
  @media screen and (max-device-width: 1025px) {
    .stopwatch {
      max-width: 1025px;
      width: 25%; } }
  @media screen and (max-width: 368px) {
    .stopwatch {
      max-width: 368px;
      display: none; } }
