@font-face {
  font-family: sans-r;
  src: url("../fonts/woff/IRANSansWeb.woff"); }

@font-face {
  font-family: sans-b;
  src: url("../fonts/woff/IRANSansWeb_Bold.woff"); }

@font-face {
  font-family: panel-sans-r;
  src: url("../../fonts/woff/IRANSansWeb.woff"); }

@font-face {
  font-family: panel-sans-b;
  src: url("../../fonts/woff/IRANSansWeb_Bold.woff"); }

html, body {
  max-width: 1920px;
  margin: auto; }

.section-title {
  font-family: sans-b;
  font-size: 32px;
  text-align: center;
  color: rgba(23, 23, 23, 0.79);
  padding: 20px;
  margin-bottom: 20px; }
