@font-face {
  font-family: sans-r;
  src: url("../fonts/woff/IRANSansWeb.woff"); }

@font-face {
  font-family: sans-b;
  src: url("../fonts/woff/IRANSansWeb_Bold.woff"); }

html, body {
  max-width: 1920px;
  margin: auto; }

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #50c2ba; }

*, *:after, *:before {
  box-sizing: inherit; }

.login-title {
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px; }
  @media screen and (max-width: 480px) {
    .login-title {
      max-width: 480px;
      font-size: 22px; } }

.main-container {
  position: relative; }

.login-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 5% auto 0 auto;
  font-family: sans-b;
  font-size: 15px;
  color: rgba(23, 23, 23, 0.79);
  direction: rtl; }
  @media screen and (max-width: 1399px) {
    .login-container {
      max-width: 1399px; } }
  @media screen and (max-width: 368px) {
    .login-container {
      max-width: 368px;
      padding: 10px 5%;
      display: block; } }
  .login-container .login-box {
    flex-basis: 40%;
    padding: 20px 1%; }
    .login-container .login-box .box-logo {
      background-color: red;
      text-align: center;
      width: 60%;
      margin: 20px auto;
      padding: 10px 0; }
    @media screen and (max-width: 1399px) {
      .login-container .login-box {
        max-width: 1399px;
        flex-basis: 50%; } }
    @media screen and (max-width: 368px) {
      .login-container .login-box {
        max-width: 368px;
        padding: 10px 0; } }
    @media screen and (max-width: 1025px) {
      .login-container .login-box {
        max-width: 1025px;
        flex-basis: 80%; } }
    @media screen and (max-width: 667px) {
      .login-container .login-box {
        max-width: 667px;
        flex-basis: 100%; } }
    .login-container .login-box form {
      color: white;
      border-radius: 10px;
      padding: 20px 3% !important;
      width: 60%;
      margin: auto;
      border: 5px solid white; }
      @media screen and (max-width: 1025px) {
        .login-container .login-box form {
          max-width: 1025px;
          width: 80%; } }
      @media screen and (max-width: 368px) {
        .login-container .login-box form {
          max-width: 368px;
          width: 100%; } }
    .login-container .login-box label {
      display: block;
      margin: 20px 0;
      font-family: sans-b; }
      @media screen and (max-width: 480px) {
        .login-container .login-box label {
          max-width: 480px;
          font-size: 14px; } }
      @media screen and (max-width: 368px) {
        .login-container .login-box label {
          max-width: 368px;
          font-size: 12px;
          margin: 10px 0; } }
    .login-container .login-box input, .login-container .login-box textarea {
      border: 2px solid white;
      background-color: transparent;
      color: white;
      border-radius: 10px;
      padding: 5px;
      font-size: 14px;
      font-family: sans-b;
      width: 100%;
      resize: none; }
      @media screen and (max-width: 368px) {
        .login-container .login-box input, .login-container .login-box textarea {
          max-width: 368px;
          font-size: 14px; } }
    .login-container .login-box button {
      border: 2px solid white;
      border-radius: 10px;
      padding: 10px 2%;
      width: 100%;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
      font-size: 16px;
      color: white;
      background-color: transparent;
      width: 60%;
      font-family: sans-b;
      margin: 20px auto 10px auto;
      padding: 5px 0;
      display: block; }
      @media screen and (max-width: 1025px) {
        .login-container .login-box button {
          max-width: 1025px;
          margin-top: 50px; } }
      @media screen and (max-width: 568px) {
        .login-container .login-box button {
          max-width: 568px;
          width: 70%; } }
      @media screen and (max-width: 480px) {
        .login-container .login-box button {
          max-width: 480px;
          font-size: 14px;
          width: 70%;
          margin: 20px auto 10px auto; } }
      @media screen and (max-width: 368px) {
        .login-container .login-box button {
          max-width: 368px; } }
      .login-container .login-box button:hover {
        background-color: #285d6d;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in; }
    .login-container .login-box .forget {
      text-decoration: none;
      color: white;
      display: inline-block;
      margin: 10px 0; }
      @media screen and (max-width: 568px) {
        .login-container .login-box .forget {
          max-width: 568px;
          font-size: 14px; } }
      @media screen and (max-width: 480px) {
        .login-container .login-box .forget {
          max-width: 480px;
          font-size: 12px; } }
      .login-container .login-box .forget:hover {
        color: #285d6d;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in; }
  .login-container .login-image, .login-container .fpass-image {
    flex-basis: 40%; }
    @media screen and (max-width: 1399px) {
      .login-container .login-image, .login-container .fpass-image {
        max-width: 1399px;
        flex-basis: 50%; } }
    @media screen and (max-width: 1025px) {
      .login-container .login-image, .login-container .fpass-image {
        max-width: 1025px;
        display: none; } }
  .login-container .fpass-image img {
    width: 80%; }
  .login-container .spacer {
    display: flex;
    justify-content: center;
    align-items: center; }
    .login-container .spacer .spacer-line {
      flex-basis: 40%;
      border: 2px solid #ffffff;
      margin: 20px 0; }
    .login-container .spacer .spacer-text {
      margin: 0 1%; }
  .login-container .alter-login {
    margin-top: 10px; }
    .login-container .alter-login .google, .login-container .alter-login .github {
      display: flex;
      border: 2px solid white;
      border-radius: 10px;
      padding: 10px 2%;
      width: 100%;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
      justify-content: center;
      border-radius: 10px;
      align-items: center;
      width: 60%;
      margin: 10px auto;
      padding: 5px 0;
      border: 3px solid white;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
      text-decoration: none;
      color: white; }
      @media screen and (max-width: 480px) {
        .login-container .alter-login .google, .login-container .alter-login .github {
          max-width: 480px;
          font-size: 14px; } }
      @media screen and (max-width: 368px) {
        .login-container .alter-login .google, .login-container .alter-login .github {
          max-width: 368px;
          font-size: 12px;
          padding: 7px 0; } }
      .login-container .alter-login .google:hover, .login-container .alter-login .github:hover {
        background-color: #285d6d;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in; }
      .login-container .alter-login .google span, .login-container .alter-login .github span {
        direction: rtl; }
      .login-container .alter-login .google .icon, .login-container .alter-login .github .icon {
        width: 10%;
        margin: 0 2%; }
  .login-container .reg-cite {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding: 10px 2%;
    color: white; }
    @media screen and (max-width: 480px) {
      .login-container .reg-cite {
        max-width: 480px;
        font-size: 12px; } }
    .login-container .reg-cite .reg-btn {
      text-decoration: none;
      color: white;
      border: 2px solid white;
      border-radius: 10px;
      padding: 10px 2%;
      width: 100%;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
      display: inline-block;
      margin-top: 20px;
      width: 60%; }
      @media screen and (max-width: 368px) {
        .login-container .reg-cite .reg-btn {
          max-width: 368px;
          font-size: 12px; } }
      .login-container .reg-cite .reg-btn:hover {
        background-color: #285d6d;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in; }
